/* Advanced CSS Portfolio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Azure: #2994CB;
    --Absinthe: #A3DE9E;
    --Sky: #394B59;
    --Anthracite: #2A2A2A;
    --Jet: #141414;
    --Night: #181818;
    --Stone: #6C757D;
    --Zinc: #CFD2D0;
    --Absinthe-alpha: rgba(163,222,158, 0.5);
    --shadow-alpha: rgba(0, 0, 0, 0.5);

    --primary-color: #394B59;
    --secondary-color: #2994CB;
    --secondary-active: #7ac6ca;
    --tertiary-color: #262629;
    --light-color: #CFD2D0;
    --transparent-color: rgba(134, 179, 238, 0.3);
    --secondary-color-alpha: rgba(154, 214, 210, 0.85);
}

body {
    background-color: var(--Stone);
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    padding: 12px 0px 12px 0px;
    text-align: center;
    font-weight: bold;
    color: var(--Stone);
    background-color: var(--Night);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyleft {
    display:inline-block;
    font-weight: bold;
    transform: rotate(180deg);
  }

/* [375 - 599px] (iPhone6/7/8/X Plus iOS11 & 12) */
@media only screen and (max-width: 599px) {
    /* Mobile Only Block */
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .mobile-container {
        max-width: 480px;
        margin: auto;
        height: 500px;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: var(--Night);
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
        text-align: right;
      }
      
      .topnav a {
        color: var(--Azure);
        padding: 14px 16px;
        font-weight: bold;
        text-decoration: none;
        font-size: 6vw;
        display: block;
      }
      
      .topnav a.icon {
        background: var(--Anthracite);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }  

      .nav-links, .logo-text {
          display: none;
      }

    /* Hero */
    .hero {
        min-height: 40vw;
        background-image: url(../img/hero-bg.png);
        background-size: 190%;
        background-attachment: initial;
        background-position-y: 1,7%;
        background-position-x: 77%;

    }

    .hero-sub h2 {
        width: 100%;
        text-align: right;
        font-size: 6vw;
        padding-right: 4%;
        padding-top: 3%;
        color: var(--Absinthe);

    }

    .container {
        background-color: var(--Zinc);
        padding: 3vw;
        justify-content: left;
    }

    .container h1 {
        width: 100%;
        color: var(--Azure);
        text-align: left;
        font-size: 6vw;
        padding-bottom: 1vw;
        border-bottom: 2px solid var(--Stone);
    }
    
    /* Content */
    .content {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 23px;
        padding: 3vw;
        line-height: 1.5;
    }
    
    .content p {
        color: var(--Sky);
        font-size: 5vw;
    }

    .content a {
        text-decoration: none;
    }
    
    .content div {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        grid-auto-flow: dense;
    }

    /* Work */
    
    .grid-item {
        display: flex;
        min-height: 50vw;
        justify-content: center;
        border: 3px solid var(--Absinthe);
        margin-bottom: 4vw;
        background-size: 200%;
        border-radius: 15px;
        box-shadow: 0 0 10px var(--shadow-alpha);
    }

    .waviii {
        background-image: url("../img/waviii.png");
        background-size: cover;
    }
    
    .run-buddy {
        background-image: url("../img/run_buddy.jpg");
        background-size: cover;
    }
    
    .blog {
        background-image: url("../img/blog.png");
        background-size: cover;
    }
    
    .wallet {
        background-image: url("../img/wallet.png");
        background-size: cover;
    }
    
    .smart {
        background-image: url("../img/smart.png");
        background-size: cover;
    }
    
    #work .Absinthe-cover {
        align-self: flex-end;
        background: var(--Absinthe-alpha);
    }
    
    #work .grid-item {
        position: relative;
    }

    .Absinthe-cover h2 {
        font-size: 7vw;
        color: var(--Anthracite);
        padding-left: 3vw;
    }

    .Absinthe-cover p {
        color: var(--Sky);
        font-size: 5vw;
        padding-left: 3vw;
    }

    /* Contact Me */
    .contact-container {
        background-color: var(--Night);
        padding: 3vw;
        padding-bottom: 10vw;
        justify-content: left;
    }

      .contact h2 {
        width: 100%;
        text-align: right;
        font-size: 6vw;
        padding-right: 4%;
        padding-top: 3%;
        color: var(--Absinthe);
      }

      .contact a {
        color: var(--Azure);
        padding: 14px 16px;
        font-weight: bold;
        text-decoration: none;
        font-size: 6vw;
        display: block;
      }

      .contactIcon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        flex-wrap: wrap;
        justify-items: last baseline;

      }

      .contactIcon a {
          color: var(--Azure);
      }

    .contactIcon a.left {
        justify-self: left;

    }

    .contactIcon a.right {
        justify-self: right;

    }
}
  
/* [600 - 768px] (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
/* Header */
header {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 10px var(--shadow-alpha);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
    padding-left: 3%;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px var(--shadow-alpha);
}

nav ul li {
    display: inline-block;
    margin: 0 2px 0 2px;
}

.logo-text {
    font-size: 3vw;
}


}
  
/* [768 - 992px] (landscape tablets) */
@media only screen and (min-width: 768px) {
/* Header */
header {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 10px var(--shadow-alpha);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
    padding-left: 3%;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header a:hover {
    color: var(--secondary-active);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px var(--shadow-alpha);
}

nav ul li {
    display: inline-block;
    margin: 0 2px 0 2px;
}

/* Animated Navigation Underline */
a.nav-item,
a.nav-item:visited {
    text-decoration: none;
    border-bottom: 12px solid var(--tertiarary-color);
    transition: border-color 0.3s;
}
a.nav-item:hover {
    border-bottom: 12px solid var(--secondary-active);
}

/* Reused */
.hero-sub,
.logo-text {
    width: 22%;
    background-color: var(--secondary-color);
    padding: 12px 12px 12px 0px;
}

.logo-text h1 {
    text-align: right;
}

.container {
    font-size: xx-large;
    padding: 30px;
    display: flex;
    justify-content: left;
}

.container h1 {
    border: none;
    margin-left: 100px;
    padding-right: 20px;
    text-align: right;
    border-right: 5px solid var(--primary-color);
    width: 200px;
}

.content {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    width: 75%;
    font-size: 23px;
    padding: 12px;
    line-height: 1.5;
}

.content a {
    text-decoration: none;
    color: var(--primary-color);
}

.content div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

/* Hero */
.hero {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-sub {
    width: 22%;
    text-align: center;
    margin-top: 23%;
    margin-right: 3%;
    margin-bottom: 12px;
}

.hero-sub h2 {
    font-size: 35px;
    color: var(--primary-color);
}

/* About Me */


/* Work */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    grid-auto-flow: dense;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--secondary-color);
    margin: 20px;
    padding: 30px 30px 30px 0;
    background-size: 200%;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadow-alpha);
}

.waviii {
    background-image: url("../img/waviii.png");
    background-size: cover;
}

.run-buddy {
    background-image: url("../img/run_buddy.jpg");
    background-size: cover;
}

.blog {
    background-image: url("../img/blog.png");
    background-size: cover;
}

.wallet {
    background-image: url("../img/wallet.png");
    background-size: cover;
}

.smart {
    background-image: url("../img/smart.png");
    background-size: cover;
}

#work {
    background: var(--light-color);
}

#work .Absinthe-cover {
    background: var(--secondary-color-alpha);
}

#work .grid-item {
    position: relative;
}

#work .grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--transparent-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
}

#work .grid-item:hover.grid-item::after {
    opacity: 1;
    transition: 0.5s;
}

/* Contact Me */
#contact-me .content div {
    text-align: center;
}

#contact-me .content a {
    font-size: 34px;
    line-height: 2;
    padding: 12px;
}

/* Footer */
footer {
    padding: 12px 35px 12px 0px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

} 
  
/* [992 - 1200px] (laptops/small desktops) */
@media only screen and (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .grid-item.large {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }  

    /* Header */
header {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 10px var(--shadow-alpha);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
    padding-left: 3%;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header a:hover {
    color: var(--secondary-active);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px var(--shadow-alpha);
}

nav ul li {
    display: inline-block;
    margin: 0 2px 0 2px;
}

/* Animated Navigation Underline */
a.nav-item,
a.nav-item:visited {
    text-decoration: none;
    border-bottom: 12px solid var(--tertiarary-color);
    transition: border-color 0.3s;
}
a.nav-item:hover {
    border-bottom: 12px solid var(--secondary-active);
}

/* Reused */
.hero-sub,
.logo-text {
    width: 22%;
    background-color: var(--secondary-color);
    padding: 12px 12px 12px 0px;
}

.logo-text h1 {
    text-align: right;
}

.container {
    font-size: xx-large;
    padding: 30px;
    display: flex;
    justify-content: left;
}

.container h1 {
    border: none;
    margin-left: 100px;
    padding-right: 20px;
    text-align: right;
    border-right: 5px solid var(--primary-color);
    width: 200px;
}

.content {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    width: 75%;
    font-size: 23px;
    padding: 12px;
    line-height: 1.5;
}

.content a {
    text-decoration: none;
    color: var(--primary-color);
}

.content div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

/* Hero */
.hero {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-sub {
    width: 22%;
    text-align: center;
    margin-top: 23%;
    margin-right: 3%;
    margin-bottom: 12px;
}

.hero-sub h2 {
    font-size: 35px;
    color: var(--primary-color);
}

/* About Me */


/* Work */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    grid-auto-flow: dense;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--secondary-color);
    margin: 20px;
    padding: 30px 30px 30px 0;
    background-size: 200%;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadow-alpha);
}

.waviii {
    background-image: url("../img/waviii.png");
    background-size: cover;
}

.run-buddy {
    background-image: url("../img/run_buddy.jpg");
    background-size: cover;
}

.blog {
    background-image: url("../img/blog.png");
    background-size: cover;
}

.wallet {
    background-image: url("../img/wallet.png");
    background-size: cover;
}

.smart {
    background-image: url("../img/smart.png");
    background-size: cover;
}

#work {
    background: var(--light-color);
}

#work .Absinthe-cover {
    background: var(--secondary-color-alpha);
}

#work .grid-item {
    position: relative;
}

#work .grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--transparent-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
}

#work .grid-item:hover.grid-item::after {
    opacity: 1;
    transition: 0.5s;
}

/* Contact Me */
#contact-me .content div {
    text-align: center;
}

#contact-me .content a {
    font-size: 34px;
    line-height: 2;
    padding: 12px;
}

/* Footer */
footer {
    padding: 12px 35px 12px 0px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

} 
  
/* [1200px+] (large laptops and desktops) */
@media only screen and (min-width: 1200px) {

/* Header */
header {
    padding: 12px 35px 12px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 10px var(--shadow-alpha);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

/* Header */
header {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 10px var(--shadow-alpha);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
    padding-left: 3%;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header a:hover {
    color: var(--secondary-active);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px var(--shadow-alpha);
}

nav ul li {
    display: inline-block;
    margin: 0 2px 0 2px;
}

.topnav {
    display: none;
}


/* Animated Navigation Underline */
a.nav-item,
a.nav-item:visited {
    text-decoration: none;
    border-bottom: 12px solid var(--tertiarary-color);
    transition: border-color 0.3s;
}
a.nav-item:hover {
    border-bottom: 12px solid var(--secondary-active);
}

/* Reused */

.hero-sub,
.logo-text {
    width: 22%;
    background-color: var(--secondary-color);
    padding: 12px 12px 12px 0px;
}

.logo-text h1 {
    text-align: right;
}

.container {
    font-size: xx-large;
    padding: 30px;
    display: flex;
    justify-content: left;
}

.container h1 {
    border: none;
    margin-left: 100px;
    padding-right: 20px;
    text-align: right;
    border-right: 5px solid var(--primary-color);
    width: 200px;
}

.content {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    width: 75%;
    font-size: 23px;
    padding: 12px;
    line-height: 1.5;
}

.content a {
    text-decoration: none;
    color: var(--primary-color);
}

.content div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

/* Hero */
.hero {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-sub {
    width: 22%;
    text-align: center;
    margin-top: 23%;
    margin-right: 3%;
    margin-bottom: 12px;
}

.hero-sub h2 {
    font-size: 35px;
    color: var(--primary-color);
}

/* About Me */


/* Work */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    grid-auto-flow: dense;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--secondary-color);
    margin: 20px;
    padding: 30px 30px 30px 0;
    background-size: 200%;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadow-alpha);
}

.waviii {
    background-image: url("../img/waviii.png");
    background-size: cover;
}

.run-buddy {
    background-image: url("../img/run_buddy.jpg");
    background-size: cover;
}

.blog {
    background-image: url("../img/blog.png");
    background-size: cover;
}

.wallet {
    background-image: url("../img/wallet.png");
    background-size: cover;
}

.smart {
    background-image: url("../img/smart.png");
    background-size: cover;
}

#work {
    background: var(--light-color);
}

#work .Absinthe-cover {
    background: var(--secondary-color-alpha);
}

#work .grid-item {
    position: relative;
}

#work .grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--transparent-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
}

#work .grid-item:hover.grid-item::after {
    opacity: 1;
    transition: 0.5s;
}

/* Contact Me */
#contact-me .content div {
    text-align: center;
}

#contact-me .content a {
    font-size: 34px;
    line-height: 2;
    padding: 12px;
}

/* Footer */
footer {
    padding: 12px 35px 12px 0px;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

}